<md-toolbar color="primary">
  Real-time Messenger
  <a (click)="logout()" style="position: absolute; right: 23px; top: 18px;cursor:pointer;">
    <img md-list-avatar src="/assets/logout.png" alt="logout" height="30px">
  </a>
</md-toolbar>

<div style="background-color: mintcream; width: 350px;height: 93vh;display: inline-block;">
  <md-list style="width: 100%;">
    <div *ngFor="let userInfo of friendList">
      <md-list-item class="friends-box" (click)="selectedUser(userInfo)" [ngClass]="{changeBg: userInfo.selectable}">
        <img md-list-avatar src="/assets/profile.png" alt="profile picture" height="60">
        <h1 md-line><b>{{userInfo.fullName}} </b></h1>
      </md-list-item>
      <md-divider></md-divider>
    </div>
  </md-list>
</div>

<div style="width: calc(100vw - 367px);;height: 93vh;float: right;">
  <div *ngIf="!selectUserToSendMsg"><h2>Select User to send message</h2></div>
  <div style="height: 700px;overflow-y: scroll;overflow-x: hidden;">
    <md-list style="width: 100%;">
      <div *ngFor="let msgObj of myFriendChat">

        <div [ngClass]="{align_right: authUser.$key == msgObj.sentBy}">
          <p md-line *ngIf="msgObj.message !=''"><b>{{msgObj.message}} </b></p>
          <p md-line *ngIf="msgObj.fileUrl !=''">
            <a href="{{msgObj.fileUrl}}" target="_blank">
              <!--<img src="/assets/file.png" height="100" width="70">-->
              <img src="{{msgObj.fileUrl}}" height="100" width="120">
            </a>
          </p>
        </div>
      </div>
    </md-list>
  </div>
  <div class="send-msg-container" *ngIf="selectUserToSendMsg">
    <textarea [(ngModel)]="userMsg" class="feedback-textarea"></textarea>
    <button md-button md-raised-button color="primary" (click)="sendMsg()">Send</button>

    <form ngNoForm style="display:inline-block;">
      <input id="uploadFile" name="file" type="file">
      <button (click)="uploadImage()" md-raised-button color="primary" type="button">Upload</button>
    </form>
  </div>

</div>
